main {
  padding: 15px 50px;
}

#mainSec {
  text-align: center;
  margin: 0 15%;
}
h1 {
  font-size: 4rem;
}

h1 + p {
  font-size: 1.7rem;
}

.info {
  font-size: 1.2rem;
}
#sec1,
#sec2 {
  padding-top: 50px;
}

#sec1 {
  float: left;
  width: 60%;
}

#sec2 {
  float: left;
  width: 39%;
  margin-left: 1%;
}

h2 {
  font-size: 2.8rem;
}

h2 + ol {
  font-size: 1.4rem;
}

#bushidoKod {
  padding-top: 20px;
  letter-spacing: 0.15em;
  text-shadow: 1px 4px 5px rgba(10, 4, 2, 0.73);
}
.bushidoSekcija {
  line-height: 2.6rem;
}
.bushido {
  padding-top: 20px;
}

dt {
  font-size: 1.8rem;
}
dd {
  font-size: 1.2rem;
}
figure > img {
  width: 100%;
}

@media screen and (max-width: 1245px) {
  main {
    padding: 25px 0px;
  }
  #sec1,
  #sec2 {
    float: none;
    text-align: center;
    width: 99vw;
  }
  figure {
    width: 95%;
    padding-left: 3%;
  }
  li {
    list-style-position: inside;
  }
}

@media screen and (max-width: 1245px) and (min-width: 600px) {
}

@media screen and (max-width: 600px) {
}
