main {
  padding: 25px 0px;
}
#sec2 {
  text-align: center;
  padding-top: 20px;
}

#mainSec {
  text-align: center;
  margin: 0 15%;
}
h1 {
  font-size: 3.7rem;
}

h1 + p,
h2 + p {
  font-size: 1.3rem;
}

h2 {
  font-size: 2.8rem;
}

#headerSec2 {
  padding-top: 30px;
  letter-spacing: 0.15em;
  text-shadow: 1px 4px 5px rgba(10, 4, 2, 0.73);
}

#sec2 section img {
  width: 40%;
  /* background-color: rgba(206, 35, 35, 0.808);*/
  /* background-color: rgba(15, 14, 14, 0.671); */

  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343a6, #000000eb);

  border-radius: 22px 22px 0px 0px;

  margin-bottom: -10px;

  max-width: 340px;
  min-width: 200px;

  box-shadow: rgba(206, 132, 35, 0.349) 10px 30px 120px 40px;
  /* box-shadow: rgba(206, 132, 35, 0.808) 10px 30px 1200px 80px; */
}

#sec2 > section > h3 {
  font-size: 1.7rem;
  text-align: center;
  padding: 0 10%;
  margin-top: 40px;
}

#sec2 > section > p {
  font-size: 1.4em;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 5px 0px;
  background-color: rgba(196, 191, 191, 0.253);

  border-top: 5px solid black;
  max-width: 340px;
  min-width: 200px;
}
#sec2 + div {
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  #sec2 section img {
    width: 70%;
  }

  #secKontent1 {
    margin-left: 2.5%;
    float: left;
    width: 30%;
  }
  #secKontent2 {
    margin: 0 2.5%;
    float: left;
    width: 30%;
  }
  #secKontent3 {
    margin-right: 2.5%;
    float: left;
    width: 30%;
  }

  #sec2 > section > p {
    width: 70%;
  }

  h1 + p,
  h2 + p {
    font-size: 1.5em;
  }
}
