main {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  box-shadow: rgba(199, 31, 31, 0.089) 10px 5px 50px 30px;
  background-color: whitesmoke;
}

h1 {
  background-color: var(--crvena);
  text-align: center;
  padding: 15px 0px;
}

h1,
table {
  width: 100%;
}

#tabelaHeader {
  font-size: 1.3rem;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lastCell {
  text-align: center;
}

.allIcons {
  transition: color 0.3s linear;
}

.allIcons:hover {
  color: var(--narandzastaTamna);
}

.nadjiteNas {
  font-size: 7rem;
  opacity: 0.7;
}

@media screen and (min-width: 1200px) {
  main {
    width: 80%;
  }
  h1 {
    font-size: 2.4rem;
  }

  #tabelaHeader {
    font-size: 1.7rem;
  }
  #linkdin {
    /* font-size: 10rem; */
    font-size: 8rem !important;
  }
  .ikonice {
    font-size: 4rem;
  }
}
