main {
  text-align: center;
  display: grid;
  grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
  gap: 20px;
}

#gridTop {
  grid-area: top;
  justify-self: center;
}

#gridLeft {
  grid-area: left;
}
#gridLeft > img {
  float: right;
  width: 50vw;
  min-width: 682px;

  margin: 0;
  margin-right: 20px;
}

#gridRight {
  grid-area: right;
}

main > div > h1 {
  font-size: 3.8rem;
  font-weight: normal;
}

.uvod {
  text-align: left;
  line-height: 2.6rem;
  /* border: 2px solid yellow; */
}

.uvod > h1 {
  line-height: 3.2rem;
}

#uvodH1 {
  font-size: 3.7rem;
  font-weight: normal;
  margin-bottom: 50px;
  text-decoration: 2px solid underline;
}

.paragrafMain {
  font-size: 1.5rem;
  font-weight: 300;
  /*pripazi na ovo*/
  /* padding-right: 5%; */
}

.promocija {
  text-align: left;
}

.nalog {
  margin-top: 10px;
}

button:hover {
  color: var(--crna);
  border-color: var(--crna);
}

#loginLink {
  text-decoration: underline;
}

#loginLink:link {
  color: var(--bela);
}

#loginLink:visited {
  color: var(--ljubicasta);
}

#loginLink:hover {
  color: var(--crna);
}

#loginLink:active {
  color: var(--crvena);
}

@media screen and (max-width: 1484px) {
  main {
    grid-template-areas:
      "top top"
      "center center"
      "bottom bottom";
    gap: 20px;
  }

  #gridTop {
    grid-area: top;
    justify-self: center;
  }

  #gridLeft {
    grid-area: center;
    display: flex;
    justify-content: center;
  }
  #gridLeft > img {
    /* padding-right: 10%; */
    padding-left: 20px;
    width: 70%;
    min-width: 300px;
    float: none;
  }
  #gridRight {
    grid-area: bottom;
    text-align: center;
  }

  .nalog {
    margin-top: 5px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 500px) {
  main > div > h1 {
    font-size: 3rem;
    font-weight: normal;
  }
  #gridLeft > img {
    min-width: 250px;
  }

  .uvod {
    text-align: left;
    line-height: 2.4rem;
  }

  #uvodH1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .paragrafMain {
    font-size: 1.3rem;
    padding: 0 3%;
  }
  footer > p > small {
    font-size: 0.7rem;
  }
}
