#welcome {
  text-align: center;
}
#welcome > h1 {
  font-size: 3.4rem;
  font-weight: normal;
}
.uvod {
  text-align: center;
  line-height: 2.4rem;
}
aside > img {
  width: 100%;
}

#uvodH1 {
  font-size: 2.6rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
.paragrafMain {
  font-size: 1.3rem;
  padding: 0px 4%;
}
.nalog {
  padding-bottom: 30px;
}
footer > p > small {
  font-size: 0.7rem;
}

button:hover {
  color: var(--bela);
  border-color: var(--bela);
}

#loginLink {
  text-decoration: underline;
}

#loginLink:link {
  color: var(--bela);
}

#loginLink:visited {
  color: var(--ljubicasta);
}

#loginLink:hover {
  color: var(--bela);
}

#loginLink:active {
  color: var(--crvena);
}

#prijavaDiv {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  aside {
    float: left;
    /* width: 43%; */
    width: 52%;
    margin-left: 8%;
    max-width: 850px;
  }
  aside > img {
    width: 100%;
  }
  .uvod {
    float: left;
    /* width: 57%; */
    width: 40%;
  }
  #prijavaDiv {
    clear: left;
    /* padding-top: 2%; */
    /* padding: 15px 0px 5px 0px;
    background-color: rgba(239, 242, 243, 0.972);
    border-radius: 10px;
    box-shadow: rgb(128, 128, 128) 20px 40px 60px 50px;
    width: 400px;
    margin: 0 auto; */
  }
  #prijavaP1 {
    font-size: 1.5rem !important;
  }
  .nalog {
    font-size: 1.1rem;
  }
  main > div > h1 {
    font-size: 3.8rem;
    font-weight: normal;
  }

  .uvod p {
    text-align: left;
    line-height: 2.6rem;
  }
  .uvod > div > p {
    text-align: center;
  }
  .uvod > h1 {
    line-height: 3.2rem;
  }
  #uvodH1 {
    font-size: 3.7rem;
    font-weight: normal;
    margin-bottom: 50px;
    text-decoration: 2px solid underline;
  }

  .paragrafMain {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .promocija {
    text-align: left;
  }

  .nalog {
    margin-top: 10px;
  }
}
