#mainUvod > img {
  box-shadow: rgba(210, 105, 30, 0.411) 20px 10px 90px;
}

.federacije img:nth-child(4) {
  width: 310px;
  height: 310px;
  border-radius: 0%;
  margin-top: -20px;
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
  .federacije img:nth-child(4) {
    margin-left: -15px;
    margin-top: 0px;
  }
}
