@import url(boje.css);

h1 {
  text-align: center;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.582);
  /* border-bottom: 2px solid black; */
}

aside h2 {
  /* background-color: rgba(255, 255, 255, 0.712); */
  border-bottom: 2px solid black;
  margin-bottom: 6px;
  width: 50%;
  margin: 0 auto;
}

#sec2 > h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

aside {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.rankovi {
  list-style: none;
  counter-reset: mojBrojac;
}
.rankovi li {
  counter-increment: mojBrojac;
}
.rankovi li::before {
  content: counter(mojBrojac) ". ";
  color: var(--crvena);
  font-weight: bold;
  /* font-family: Montserrat, sans-serif !important; */
}

.upRank {
  color: rgb(31, 206, 75);
}

.downRank {
  color: rgb(235, 70, 55);
}
aside {
  text-align: center;
}

#aside1 {
  width: 100%;
}

main > article {
  text-align: center;
  /* margin: 15px 0px; */

  width: 85%;
  margin: 10px auto;
  background-color: rgba(26, 23, 21, 0.288);
  border: 13px outset #7d8080;
  padding: 0px 3%;
  padding-bottom: 3%;
  /* font-size: 1rem; */
}
main > article > a > figure > img {
  width: 100%;
}

em::before,
em::after {
  content: "'' ";
}

#aside2 > section > a > figure > img {
  width: 100%;
}
#aside2 > section > figure {
  margin: 15px 0px;
}
#aside2 > section > figure:last-child {
  padding-bottom: 10px;
}

#aside1 section {
  width: 85%;
  margin: 10px auto;
  background-color: rgba(26, 23, 21, 0.288);
  border: 13px outset #7d8080;
  padding: 0 3%;
}

.naredniDogadjaji {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(26, 23, 21, 0.288);
  padding: 0 3%;
  padding-bottom: 50px;
  border: 13px outset #7d8080;
}

h1 {
  /*nije pozicionirao na osnovu bodija*/
  position: static;
  width: 93.5%;
  margin: 0 auto;
  background-color: rgba(199, 194, 194, 0.877);
  background-color: rgba(224, 141, 32, 0.938);
  margin-top: 20px;
}
.naredniDogadjaji a {
  color: #000000;
}

@media screen and (min-width: 1200px) {
  #aside1,
  #aside2 {
    float: left;
    text-align: left;
    margin-top: 15px;
  }
  #aside1 {
    width: 18%;
    margin-left: 2.5%;
    /* margin-right: 2.5%; */
    font-size: 1.1rem;

    /* background-color: rgb(237, 241, 245); */
    /* border-radius: 25px;
      outline: 2px solid black; */
  }
  #aside2 {
    width: 25%;
    margin-left: 2.5%;
    padding-right: 1.5%;
    /* background-color: rgb(237, 241, 245); */
  }

  main {
    width: 50%;
    float: left;
    overflow-y: scroll;
    height: 90vh;
  }

  .naredniDogadjaji {
    /* max-width: 340px; */
  }

  #aside1 > section > h2 {
    /* width: fit-content; */
  }
  #sec2 > h2 {
    font-size: 1.3rem;
  }

  h1 {
    /*nije pozicionirao na osnovu bodija*/
    position: sticky;
    position: -webkit-sticky;

    margin: 0 auto;
    top: 0px;
    width: 94%;
  }

  h1 + article {
    margin-top: 0px;
  }

  aside h2 {
    width: 100%;
    margin: 10px 0px 5px 0px;
    text-align: center;
  }
}
