@import url(boje.css);

body {
  background-image: url(../slike/backgroundProjekatpng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

h1 {
  text-align: center;
  margin-top: 15px;
  background: linear-gradient(to right, #b6b8b9, #a0a09e);
}

aside h2 {
  border-bottom: 2px solid black;
  margin-bottom: 6px;
  width: 50%;
  margin: 0 auto;
}

#sec2 > h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

aside {
  display: flex;
  flex-direction: column;
}

.rankovi {
  list-style: none;
  counter-reset: mojBrojac;
}
.rankovi li {
  counter-increment: mojBrojac;
}
.rankovi li::before {
  content: counter(mojBrojac) ". ";
  color: var(--crvena);
  font-weight: bold;
}

.upRank {
  color: rgb(8, 98, 5);
}

.downRank {
  color: rgb(235, 70, 55);
}
aside {
  text-align: center;
}

#aside1 {
  width: 100%;
}

main > article {
  text-align: center;
  /* margin: 15px 0px; */
  width: 85%;
  margin: 10px auto;
  padding: 0px 3%;
  padding-bottom: 3%;
  /* font-size: 1rem; */
}
main > article > a > figure > img {
  width: 100%;
}

em::before,
em::after {
  content: "'' ";
}

#aside2 > section > a > figure > img {
  width: 100%;
}
#aside2 > section > figure {
  margin: 15px 0px;
}
#aside2 > section > figure:last-child {
  padding-bottom: 10px;
}

#aside1 section,
.naredniDogadjaji,
main > article {
  background: linear-gradient(to right, #b6b8b9, #a0a09e);
  background: -webkit-linear-gradient(to right, #b6b8b9, #a0a09e);
  border: 10px outset #7d8080;
}

#aside1 section {
  width: 85%;
  margin: 10px auto;
  /* background-color: rgba(26, 23, 21, 0.288); */
  padding: 0 3%;
}

.naredniDogadjaji {
  width: 85%;
  margin: 0 auto;
  padding: 0 3%;
  padding-bottom: 50px;
}

h1 {
  /*nije pozicionirao na osnovu bodija*/
  position: static;
  width: 93.5%;
  margin: 0 auto;
  margin-top: 20px;
}
.naredniDogadjaji a {
  color: #000000;
}

@media screen and (min-width: 1220px) {
  #aside1,
  #aside2 {
    float: left;
    text-align: left;
    margin-top: 15px;
  }
  #aside1 {
    width: 18%;
    margin-left: 2.5%;
    font-size: 1.1rem;

    /* border-radius: 25px;
      outline: 2px solid black; */
  }
  #aside2 {
    width: 25%;
    margin-left: 2.5%;
    padding-right: 1.5%;
  }

  main {
    width: 50%;
    float: left;
    overflow-y: scroll;
    height: 90vh;
  }

  #sec2 > h2 {
    font-size: 1.3rem;
  }

  h1 {
    /*nije pozicionirao na osnovu bodija*/
    position: sticky;
    position: -webkit-sticky;

    margin: 0 auto;
    top: 0px;
    width: 94%;
  }

  h1 + article {
    margin-top: 10px;
  }

  aside h2 {
    width: 100%;
    margin: 10px 0px 5px 0px;
    text-align: center;
  }
}
