:root {
    --crna: #0D0106;
    --bela: #FBFBFF;
    --ljubicasta: #3626A7;
    --plava: #657ED4;
    --crvena: #FF331F;
    --roze: #e2213b;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

body {
    /* background-color: var(--bela); */
    background-color: var(--roze);
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}
::-webkit-scrollbar {
   width: 0.4rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #5e6062;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a{
    text-decoration: none;
    color: var(--crna);
}

header{
    position: sticky;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bela); 
}

#logo {
    width: 130px;
    border-radius: 50px;
}

.listeFlex {
    display: flex;
    gap: 80px;
}

/*Selektor potomaka*/
.listeFlex>li {
    list-style-type: none;
}

/*selektor dece?*/
/* .listeFlex li>a {
    color: var(--crna);
    text-decoration: none;
    font-size: 1.24em;
    font-weight: 500;
    
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
} */
.aNav {
    color: var(--crna);
    text-decoration: none;
    font-size: 1.24em;
    font-weight: 500;
    
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.linija {
    display: none;
}

li>a:hover{
    color:var(--roze);
}
.aNav::before {
    content: ">";
    transition: padding-right 0.4s ease-in-out;
}

.aNav:hover::before {
    padding-right: 10px;
}

button{
    border:3px solid var(--bela);
    background-color: transparent;
    border-radius: 25px;
    color: var(--bela);
    padding: 5px 25px;
    font-size: 1.7rem;
}

@media screen and (max-width:1182px) {
    nav{
        justify-content: space-between;
        padding: 0 45px;
    }
    
    .linija{
        display: block;
        width: 35px;
        border-top:3px solid var(--roze);
        padding: 5px;
        margin-right: 15px;
    }
    .preHamburger{
        display: none;
    } 

}

/*JS hamburger resenje za vece displeje*/
/* @media screen and (min-width:1182px) {

    nav{
        flex-direction: row !important;
    }
    .listeFlex{
        flex-direction: row !important;
    }
    .preHamburger{
        display: block !important;
    } 

} */