body {
  /*previse tamna*/
  /* background-image: linear-gradient(to right, #777a7c, #7e7e7b),
    url(../slike/backgroundProjekatpng.png); */

  background-image: linear-gradient(to right, #b6b8b9, #a0a09e),
    url(../slike/backgroundProjekatpng.png);
  background-image: -webkit-linear-gradient(to right, #b6b8b9, #a0a09e),
    url(../slike/backgroundProjekatpng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode: screen;
}
