h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

tr > th {
  font-size: 2rem;
}
td {
  text-align: center;
  /* border: 20px solid rgba(92, 90, 90, 0.534); */
  border-radius: 10px;
}

td,
th,
tr {
  /* border: 2px solid black; */
  /* background-color: var(--tamnoSiva); */
}

/*Jednake celije*/
td {
  width: 50%;
  height: 100%;
}

table {
  width: fit-content;
  border-collapse: separate;
  border-spacing: 20px;

  margin: 0 auto;
  margin-bottom: 50px;
  background-color: rgba(12, 13, 14, 0.404);
  border-radius: 10px;

  /* background-color: aliceblue; */
}

figure {
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
  position: relative;

  /* z-index: 0; */
  z-index: -1;
  /* background-color: black; */
}

figure > figcaption {
  font-size: 4rem;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  /* color: rgba(255, 255, 255, 0.212); */
  color: rgba(255, 255, 255, 0.62);
}

figure > img {
  /*Responzivna slika*/
  width: 40vw;
  height: 50vh;
  object-fit: cover;
  /* opacity: 0.9; */
  filter: grayscale(0.9);
  /* transition: filter 1s linear; */
}
/* 
figure > img:hover {
  filter: grayscale(0.3);
} */

.koristanInfo {
  /* background-color: var(--tamnoSiva); */
}
.koristanInfo > section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(12, 13, 14, 0.363);
  border-radius: 25px;
}

/* body {
  background-color: black;
} */

@media screen and (max-width: 600px) {
  figure > figcaption {
    font-size: 2rem;
  }
}
