h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

tr > th {
  font-size: 2rem;
}
td {
  text-align: center;
  border: 20px solid rgba(175, 175, 175, 0.185);
}

/*Jednake celije*/
td {
  width: 50%;
  height: 100%;
}

table {
  width: fit-content;
  border-collapse: separate;
  border-spacing: 20px;

  margin: 0 auto;
  margin-bottom: 50px;
  /* background-color: rgba(12, 13, 14, 0.404); */
  border-radius: 10px;

  /* background-color: aliceblue; */
}

td > a {
  /* position: relative;
  z-index: -1; */
  filter: grayscale(0.9);
  transition: filter 1s linear;
}

a:hover {
  filter: grayscale(0.4);
}

figure {
  position: relative;
  width: 100%;
  text-align: center;
  /* z-index: -2; */
  /* background-color: black; */
}

figure > figcaption {
  font-size: 4rem;
  position: absolute;
  top: 10px;
  left: 20px;
  color: rgba(255, 255, 255, 0.62);
}

figure > img {
  /*Responzivna slika*/
  width: 40vw;
  height: 50vh;
  object-fit: cover;
  /* opacity: 0.9; */
}

.koristanInfo {
  /* background-color: var(--tamnoSiva); */
}
.koristanInfo > section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(12, 13, 14, 0.363);
  /* border-radius: 25px; */
}

body {
  /* background-color: black; */
}

@media screen and (max-width: 600px) {
  figure > figcaption {
    font-size: 2rem;
  }
  figure > img {
    /*Responzivna slika*/
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    /* opacity: 0.9; */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;

    /* background-color: rgba(12, 13, 14, 0.404); */

    /* background-color: aliceblue; */
  }
  td {
    text-align: center;
    border: 0px;
  }
}
