
main {
    margin-top: 100px;
    text-align: center;
    background-image: url( "Slike main/background.png");
    background-position: center;
    background-repeat: no-repeat;
   
    background-size: contain;
    color: white;

   /* background-size: cover;
   min-height: 100vh; */
    /* background-size: contain; */

}
.uvod{
    height: 70vh;

    margin: auto;
    width: 50%;
    max-width: 1200px;
    min-width: 250px;
  
 
    overflow-y: scroll;   
}

.uvod>h1 {
    font-size: 4.4rem;
    font-weight: normal;
    margin-bottom: 20px;
    text-decoration: 2px solid underline;
}

#bitno {
    font-size: 3.4rem;
    font-weight: 500;
}

.paragrafMain {
   
    font-size: 1.5rem;
    font-weight: 300;
    /*pripazi na ovo*/
    padding: 20px 25%;
}

.bushidoSekcija{
    margin-top: 20px;
}
.bushidoVrednosti{
    list-style-type: decimal !important;
    list-style-position: inside;

}

.bushido{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr)); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:80px;
    flex-wrap: wrap;

}
.bushido>div>dt{
    font-size: 2em;
  }
.bushido>div>dd{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.bushido>div:nth-child(even){


}